<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>

    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/socialaccount/login.css" />

  </head>
  <body>
    <div id="root">
      <div class="app-wrapper">
        <div class="login-container">
          <img
            src="/static/socialaccount/logo_2.svg"
            alt="Sche:llo 로고"
            class="logo-img"
          />
            <form method="post" actions="">
                {% csrf_token %}
                {{ form.as_p }}
              <button class="kakao-btn">
                <img src="/static/socialaccount/kakao_login.png" alt="카카오 로그인" />
              </button>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>
