# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
*.db
*.sqlite3
*.sqlite3-journal
media/
staticfiles/
local_settings.py
db.sqlite3
.env

# Virtualenv
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# VSCode
.vscode/

# Mac
.DS_Store

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Git
*.swp
*.swo

# JetBrains IDE
.idea/
