<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
  <meta charset="UTF-8" />
    <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="{% static 'accounts/profile.css' %}" />
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <link rel="stylesheet" href="{% static 'navbar.css' %}" />
  <link rel="stylesheet" href="{% static 'schedules/todo.css' %}" /> -->
  <link rel="stylesheet" href="/accounts/static/accounts/profile.css" />
  <link rel="stylesheet" href="/static/main.css" />
  <link rel="stylesheet" href="/static/navbar.css" />
  <link rel="stylesheet" href="/schedules/static/schedules/todo.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
  <div id="root">
    <div class="app-wrapper">
      <div class="profile-container">
        <header>
          <button class="back-btn">
            <span class="material-icons">arrow_back</span>
          </button>
        </header>

        <div class="content">
          <div class="profile-content">
            <form id="profileForm" action="{% url 'update_profile_image' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="profile-img">
                <img src="{{ img_url }}" alt="프로필 사진" id="profileImage" />
              </div>

              <input type="file" name="profile_image" id="fileInput" accept="image/*" style="display: none;" />
            </form>

            <div class="user-info">
              <p class="user-name" id="userName">{{ user_name }}</p>
              <p class="user-email" id="userEmail">{{ user_email }}</p>
            </div>
          </div>

          <div class="button-box">
            <button id="editBtn">프로필사진 수정</button>
            <button id="logoutBtn">로그아웃</button>
          </div>

          <div class="modal-overlay" id="modal">
            <div class="modal-box">
              <div class="modal-content">
                <p class="modal-text">로그아웃 하시겠습니까?</p>
                <div class="modal-buttons">
                  <button class="modal-cancel">취소</button>
                  <button class="modal-confirm">로그아웃</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% include "nav-bar.html" %}
        {% include "schedules/add-todo-sheet.html" %}
      </div>
    </div>
  </div>

  <script>
    const userName = "{{ user_name }}";
    const userEmail = "{{ user_email }}";
    const imgUrl = "{{ img_url }}";
  </script>
  <!-- <script type="module" src="{% static 'accounts/profile.js' %}"></script> -->
     <script type="module" src="/accounts/static/accounts/profile.js"></script>
</body>
</html>
