/*첫 실행 화면*/
.schello-logo {
    width: 180px;
    height: 227px;
    position: absolute;
    top: 292px;
    left: 97px;
}

.first {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

.first-wrapper {
    width: 375px;
    height: 812px;
    background-color: #ffff;
}

.first.hidden {
    opacity: 0;
    pointer-events: none;
}