<nav class="bottom-nav">
  <button class="nav-item" data-url="/home" type="button">
    <img
      src="/static/images/home_inprofile.png"
      alt="홈 버튼"
      class="nav-icon1 home-button"
    />
  </button>
  <button class="nav-item">
    <img
      src="/static/images/plus-circle.svg"
      alt="일정추가 버튼"
      class="plus-circle"
    />
  </button>
  <button class="nav-item" data-url="/accounts/profile" type="button">
    <img
      src="/static/images/profile.png"
      alt="프로필 버튼"
      class="nav-icon2 profile-button"
    />
  </button>
</nav>
