<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=375, initial-scale=1.0" />
  <title>홈 - Sche:llo</title>
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <link rel="stylesheet" href="{% static 'home.css' %}" />
  <link rel="stylesheet" href="{% static 'splash_screen.css %'}"/>

</head>
<body>

  <div id="root">
    <div class="first">
      <div class="app-wrapper">
        <div class="first-wrapper"></div>
        <img src="/static/images/logo.png" alt="Schello 로고" class="schello-logo" />
      </div>
    </div>

<script src="{% static 'splash_screen.js' %}" defer></script>
</body>
</html>
